@charset "UTF-8";
/* CSS Document */

/*This class will hide elements on our page*/
.hidden
{
	display: none;
}

#man{
	width: 200px;
	height: 200px;
}

#head, #body, #leftArm, #rightArm, #leftLeg, #rightLeg{
	opacity: 0;
}

.show-piece {
	display: block !important;
	opacity: 1 !important;
}

.reset-screen{
	display: none;
}
